


.inputRow
{

    width: auto;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    height: auto;

    justify-content: space-around;
    align-items: center;

}


.inputRow input
{
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    overflow-wrap: normal;
}

.inputRow label
{
    width: 100px;
    overflow: hidden;
    color:black
}
